@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora/Lora-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora/Lora-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 600;

}
@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora/Lora-Bold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}



@font-face {
  font-family: 'WorkSans';
  src: url('../fonts/WorkSans/WorkSans-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 400;

}
@font-face {
  font-family: 'WorkSans';
  src: url('../fonts/WorkSans/WorkSans-Medium.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: 'WorkSans';
  src: url('../fonts/WorkSans/WorkSans-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: 'WorkSans';
  src: url('../fonts/WorkSans/WorkSans-Bold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 700;

}

