//color and backgrounds variables.
$c-gray-99:#FCFCFC;
$c-wild-sand:#F6F5F5;
$c-white:#FFFFFF;
$c-full-black:#000000;
$c-prussian-blue:#10334D;
$c-elm-blue:#356D82;
$c-aqua-blue:#B5DCD9;
$c-perisimmon:#ED634D;
$c-orange:#FF654E;
$c-rose-white:#FFFDFD;
$c-grey-2:#4f4f4f;
$lora: Lora, sans-serif;
$work-sans: WorkSans, sans-serif;
$xl:1140px;
$lg:1024px;
$md:768px;
$sm:425px;
$xs:375px;
$xxs:320px;

:root {
  --base-font: $work-sans, sans-serif;
  --heading-font: $lora, serif;
  --heading-base: bold 3.6rem/1.25 var(--heading-font);
  --background-color: #fff;
  --blue-main: #10334d;
  --blue-light: #356d82;
  --blue-brand: #1c6e85;
  --blue-lighter: #339cb0;
  --blue-flashy: #b5dcd9;
  --layout-max-width: 1440px;
  --base-padding-horizontal: 120px;
  --header-logo-color: #000;
  --header-logo-eight-color: var(--blue-brand);
  --header-logo-hover-color: var(--blue-light);
  --header-logo-eight-hover-color: var(--blue-light);
  --navigation-color: currentColor;
  --navigation-hover-color: var(--blue-light);
  --button-primary-color: #fffdfd;
  --button-primary-bg: var(--blue-light);
  --button-primary-hover-color: #fffdfd;
  --button-primary-hover-bg: var(--blue-main);
  --button-primary-active-color: #fffdfd;
  --button-primary-active-bg: var(--blue-main);
  --button-secondary-color: var(--blue-main);
  --button-secondary-bg: var(--blue-flashy);
  --button-secondary-hover-color: #fffdfd;
  --button-secondary-hover-bg: var(--blue-lighter);
  --button-secondary-active-color: #fffdfd;
  --button-secondary-active-bg: var(--blue-lighter);
  --button-outline-color: var(--blue-light);
  --button-outline-border-color: var(--blue-light);
  --button-outline-hover-color: var(--blue-main);
  --button-outline-hover-border-color: currentColor;
  --button-outline-active-color: var(--blue-main);
  --button-outline-active-border-color: currentColor;
}