//color and backgrounds variables.
$c-gray-99:#FCFCFC;
$c-wild-sand:#F6F5F5;
$c-white:#FFFFFF;
$c-full-black:#000000;
$c-prussian-blue:#10334D;
$c-elm-blue:#356D82;
$c-aqua-blue:#B5DCD9;
$c-perisimmon:#ED634D;
$c-orange:#FF654E;
$c-rose-white:#FFFDFD;
$c-grey-2:#4f4f4f;
$lora: Lora, sans-serif;
$work-sans: WorkSans, sans-serif;