.influencer-hero {
  &-bg {
    &__left {
      position: relative;
    }

    &__left:before {
      position: absolute;
      content: '';
      width: 264px;
      height: 271px;
      background: url('../img/influencer-bg-before.png') no-repeat /contain;
      left: 0;
      top: 159px;
      z-index: -1;

    }

    &__left:after {
      position: absolute;
      content: '';
      width: 105px;
      height: 123px;
      background: url('../img/influencer-bg-top-after.png') no-repeat /contain;
      top: 310px;
      left: 76px;
      z-index: -1;
      @include mobile-md {
        display: none;
      }
    }

    &__bottom {
      position: relative;
    }

    &__bottom:after {
      position: absolute;
      content: '';
      width: 323px;
      height: 449px;
      background: url('../img/influencer-bg-bottom.png') no-repeat /cover;
      bottom: 120px;
      right: 0;
      z-index: -1;
    }
  }

  &__content {
    padding-top: 104px;
    padding-left: 113px;
    padding-right: 113px;
    margin-bottom: 60px;
    @include tablet-md {
      padding: 0;
    }
  }

  &__top {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 78px;
  }


  &__h4 {
    margin-bottom: 26px;
  }

  &__h1 {
    font-family: $work-sans;
    font-weight: 600;
    font-size: 70px;
    line-height: 120%;
    color: $c-prussian-blue;
    text-align: center;
    margin-bottom: 26px;
    @include tablet-md {
      font-size: 65px;
    }
    @include mobile-lg {
      font-size: 55px;
    }
  }

  .orange-line {
    position: relative;
  }

  .orange-line:after {
    position: absolute;
    width: 382px;
    height: 18px;
    content: "";
    background: url('../img/influencer-orange-line.png') 0 0/cover no-repeat;
    bottom: -5px;
    left: -15px;
    @include mobile-lg {
      width: 292px;
    }

  }

  &__description {
    margin-bottom: 26px;
    @include tablet-md {
      text-align: justify;
      br {
        display: none;
      }
    }
  }

  &__bottom {
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 27px;
    width: 100%;
    height: auto;
    @include tablet-md {
      img {
        width: 100%;
        height: auto;
      }
    }

  }

  //&__bottom:before {
  //  position: absolute;
  //  width: 780px;
  //  height: 549px;
  //  top: 4%;
  //  content: '';
  //  background: rgba(196, 196, 196, 0.3);
  //  border-radius: 27px;
  //
  //  @include tablet-md {
  //    width: 667px;
  //    height: 475px;
  //  }
  //  @include mobile-lg {
  //    width: 100%;
  //    height: 100%;
  //  }
  //
  //
  //}

}

.insights {
  overflow-x: hidden;

  &-content {
    margin-bottom: 72px;
    padding-top: 97px;
  }

  &-plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 167px;
    @include mobile-lg{
      margin-bottom: 40px;
    }

    &__h4 {
      margin-bottom: 16px;
    }

    &__h2 {
      max-width: 702px;
      text-align: center;
      margin-bottom: 16px;
    }

    &__description {
      margin-bottom: 26px;
      max-width: 1017px;
      @include tablet-lg {
        max-width: 100%;
      }
    }
  }

  &-social {
    display: flex;
    align-items: center;
    margin-bottom: 210px;
    @include tablet-lg {
      flex-direction: column-reverse;
    }
    @include mobile-lg{
      margin-bottom: 40px;
    }

    &__left {
      position: relative;
      width: 50%;
      @include tablet-lg {
        width: 100%;
      }
    }

    &__left:before {
      position: absolute;
      content: '';
      width: 200px;
      height: 200px;
      top: 5px;
      left: -60px;
      background: url('../img/insights-big-dots.png') no-repeat / contain;
      z-index: -1;
    }

    &__left:after {
      position: absolute;
      content: '';
      width: 100px;
      height: 102px;
      left: 261px;
      bottom: -42px;
      background: url('../img/insights-small-dots.png') no-repeat / contain;
      z-index: -1;
    }

    &__right {
      margin-left: 58px;
      width: 50%;
      max-width: 482px;
      position: relative;
      @include tablet-lg {
        width: 100%;
        max-width: 100%;
      }
      @include mobile-md {
        margin-left: 0;
      }
    }

    &__right:after {
      position: absolute;
      content: '';
      width: 219px;
      height: 117px;
      left: -96px;
      top: 260px;
      background: url("../img/insights-arrow-right.png") no-repeat / cover;
      @include tablet-lg {
        display: none;
      }
    }

    &__h3 {
      color: $c-elm-blue;
      font-family: $work-sans;
      font-weight: 600;
      font-size: 32px;
      line-height: 150%;
      margin-bottom: 16px;
    }

    &__description {
      text-align: left;
    }

    &__img {
      width: 663px;
      height: 409px;
      object-fit: cover;
      @include tablet-lg {
        width: 100%;
        height: auto;
      }

    }
  }

  &-party {
    display: flex;
    align-items: center;
    @include tablet-lg {
      flex-direction: column-reverse;
    }

    &__left {
      position: relative;
      width: 50%;
      max-width: 481px;
      margin-right: 61px;
      @include tablet-lg {
        width: 100%;
        max-width: 100%;
        margin-right: 0;
      }
    }

    &__left:before {
      position: absolute;
      content: '';
      width: 247px;
      height: 95px;
      top: -119px;
      left: 286px;
      background: url('../img/insights-arrow-left.png') no-repeat /cover;
      @include tablet-lg {
        top: -69px;
        left: 386px;
        transform: rotate(135deg);
      }
    }

    &__h3 {
      font-family: $work-sans;
      font-weight: 600;
      font-size: 32px;
      line-height: 150%;
      color: $c-elm-blue;
      max-width: 342px;
      text-align: left;
      margin-bottom: 16px;
    }

    &__description {
      text-align: left;
    }

    &__right {
      position: relative;
      width: 50%;
      @include tablet-lg {
        width: 100%;
      }
    }

    &__right:before {
      position: absolute;
      content: '';
      width: 100px;
      height: 102px;
      background: url('../img/insights-small-orange-dots.png') no-repeat /cover;
      z-index: -2;
      right: 0;
      top: 72px;
      right: -27px;
      @include tablet-lg {
        right: 0;
      }
    }

    &__right:after {
      position: absolute;
      content: '';
      width: 140px;
      height: 135px;
      background: url("../img/insights-ray.png") no-repeat / cover;
      bottom: -72px;
      left: -68px;
      z-index: -1;
      @include tablet-lg {
        left: -8px;
      }
    }

    &__img {
      width: 652px;
      height: 510px;
      object-fit: cover;
      @include tablet-lg {
        width: 100%;
        height: auto;
      }
    }
  }


}

.discovery-creator {
  padding-bottom: 100px;

  &__content {
    padding-top: 97px;
    margin-bottom: 91px;
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 86px;
  }

  &__h4 {
    margin-bottom: 16px;
  }

  &__h2 {
    max-width: 556px;
    text-align: center;
    margin-bottom: 16px;
  }

  &__description {
    max-width: 1027px;
  }

  &-slider {
    margin-bottom: 91px;
    position: relative;

    &__body {
      display: flex;
      padding: 50px 77px 38px 41px;
      align-items: center;
      background-color: #DFE9EC;
      border-radius: 36px;
      justify-content: space-between;
      @include tablet-lg {
        flex-direction: column;
        padding: 32px;
        align-items: unset;
      }
      @include mobile-lg {
        gap: 30px;
      }
    }

    &__left, &__right {
      width: 50%;
      @include tablet-lg {
        width: 100%;
      }
    }

    &__left {
      margin-right: 37px;
      @include mobile-lg {
        margin-right: 0;
      }
    }

    &__h3 {
      font-family: $work-sans;
      font-weight: 600;
      font-size: 32px;
      line-height: 150%;
      color: $c-elm-blue;
      margin-bottom: 16px;
    }

    &__identify {
      max-width: 588px;
      text-align: left;
      @include tablet-lg {
        max-width: 100%;
        text-align: justify;
      }
    }

    &__analyze {
      max-width: 612px;
      text-align: left;
      @include tablet-lg {
        text-align: justify;
        max-width: 100%;
      }
    }

    &__scale {
      max-width: 497px;
      text-align: left;
      @include tablet-lg {
        text-align: justify;
        max-width: 100%;
      }
    }
  }

  .curate {
    display: block;
    width: 587px;
    height: 390px;
    margin-right: 119px;
    position: relative;
    z-index: 2;

    img {
      margin: -90px 0;
      object-fit: cover;
      @include tablet-lg {
        margin: -180px 120px;
      }
      @include mobile-lg {
        width: 55%;
        height: 100%;
        margin: 0 -20px;
      }
    }

  }

  .slider-img {
    width: 587px;
    height: 390px;
    @include tablet-lg {
      width: 100%;
      height: auto;
    }

  }

  .scale {
    margin-right: 37px;
    display: block;
    width: 587px;
    height: 390px;
    margin-right: 119px;
    position: relative;
    z-index: 2;

    img {
      margin: -100px -30px;
      width: 718px;
      height: 540px;
      @include mobile-lg {
        width: 60%;
        height: 80%;
        margin: 70px -50px;

      }
    }


  }

  &__bottom {
    position: relative;
    display: flex;
    justify-content: center;
    top: 100px;
  }

}

.manage-creator {
  padding-top: 91px;
  background-color: #F8F8F8;
  z-index: 1;

  &-bg {
    position: relative;
    z-index: 1;
  }

  &-bg:before {
    position: absolute;
    content: '';
    background: url('../img/manage-creator-dots-left.png') no-repeat /contain;
    left: 0;
    top: 106px;
    width: 238px;
    height: 238px;
    z-index: -1;
    @include tablet-md {
      top: 113px
    }
    @include mobile-md {
      display: none;
    }
  }

  &__content {
    padding-bottom: 100px;
  }

  .manage-creator-slider__link {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    color: $c-prussian-blue;
    text-decoration: none;
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 129px;
    @include tablet-lg {
      padding-bottom: 40px;
    }

  }

  &__h4 {
    margin-bottom: 17px;
  }

  &__h2 {
    text-align: center;
    margin-bottom: 17px;
    max-width: 570px;
  }

  &__description {
    padding: 0 150px;
    text-align: center;
    @include tablet-md {
      padding: 0;
    }
    @include mobile-md {
      text-align: justify;
    }
  }

  &-slider {
    margin-bottom: 103px;

    &__body {
      display: flex;
      justify-content: center;
      align-items: center;
      @include mobile-lg {
        flex-direction: column;
      }
    }

    &__left {
      img {
        width: 153px;
        height: 153px;
      }

      margin-right: 71px;
      @include mobile-lg {
        margin: 0;
      }
    }

    &__right {
      width: 60%;
      @include mobile-lg {
        width: 100%;
      }
    }

    &__h3 {
      font-family: $work-sans;
      font-weight: 600;
      font-size: 32px;
      line-height: 150%;
      color: $c-prussian-blue;
      @include mobile-lg {
        text-align: center;
        font-size: 30px;
      }
    }

    &__description {
      text-align: left;
      margin-bottom: 17px;
      @include mobile-lg {
        text-align: justify;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    z-index: 1;
  }

  &-bg__right {
    position: relative;
    z-index: -1;
  }

  &-bg__right:after {
    position: absolute;
    content: '';
    background: url('../img/manage-creator-dots-right.png') no-repeat /contain;
    width: 128px;
    height: 238px;
    right: 0;
    bottom: 65px;
    z-index: -1;
  }
}

.measure-result {
  padding-top: 97px;
  overflow: hidden;

  &-bg__top {
    position: relative;
  }

  &-bg__top:before {
    position: absolute;
    content: '';
    top: -100px;
    left: 0;
    background: url("../img/measure-helix-left.png") no-repeat /contain;
    width: 398px;
    height: 554px;
    z-index: -1;
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
    @include tablet-md {
      padding: 0;
    }
  }

  &__h4 {
    margin-bottom: 17px;
  }

  &__h2 {
    margin-bottom: 17px;
    text-align: center;
    max-width: 616px;
  }

  &__description {
    max-width: 1036px;
    margin-bottom: 81px;
    @include mobile-md {
      text-align: justify;
    }
  }

  &__middle {
    display: flex;
    justify-content: center;
    margin-bottom: 96px;
    .lottiep{
      height: 600px;
    }
    @include tablet-lg {
      img {
        width: 100%;
      }
    }
  }

  &__bottom {
    align-self: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 493px);
    list-style-type: none;
    justify-content: center;
    grid-column-gap: 190px;
    grid-row-gap: 100px;
    margin-bottom: 158px;
    @include tablet-lg {
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
    }
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    max-width: 492px;
    @include tablet-lg {
      max-width: 90%;
    }
    @include mobile-lg {
      max-width: 80%;
    }
  }


  &__item:nth-child(2) {
    grid-row-end: 3;
  }

  &__h3 {
    font-family: $work-sans;
    font-size: 32px;
    line-height: 150%;
    font-weight: 600;
    color: $c-elm-blue;
    position: relative;
  }

  &__h3:before {
    position: absolute;
    content: '';
    width: 44px;
    height: 29px;
    left: -60px;
    top: 10px;
    background: url('../img/measure-arrow.png') no-repeat / cover;
  }

  .measure-result__item .measure-result__description {
    text-align: left;
    margin-bottom: 0;
  }

  .measure-center {
    display: flex;
    justify-content: center;
    margin-bottom: 102px;
  }

  &-bg__bottom {
    position: relative;
  }

  &-bg__bottom:after {
    position: absolute;
    content: '';
    bottom: -58px;
    right: 0;
    width: 258px;
    height: 552px;
    background: url("../img/measure-helix-right.png") no-repeat /contain;
    z-index: -1;
  }
}

.cta-influencer-tl__bg {
  position: relative;
}

.cta-influencer-tl__bg:before {
  position: absolute;
  content: '';
  background: url("../img/cta-dots-top.png") no-repeat /contain;
  width: 337px;
  height: 345px;
  left: 132px;
  top: -106px;
  @include mobile-lg {
    background: url("../img/cta-dots-top.png") no-repeat /cover;
    width: 297px;
    height: 105px;
    left: 121px;
    top: -106px;
  }
  @include mobile-md {
    left: 40px;
  }
}

.cta-influencer {
  background-color: $c-prussian-blue;
  padding-top: 102px;
  padding-bottom: 60px;

  &__right {
    max-width: 742px;
    margin-left: auto;
    @include tablet-lg {
      max-width: 100%;
      margin-left: 0;
    }
  }

  &__h2 {
    color: $c-white;
    font-family: $work-sans;
    font-weight: 600;
    font-size: 60px;
    line-height: 120%;
    margin-bottom: 34px;
    @include mobile-lg {
      font-size: 50px;
    }
    @include mobile-md {
      font-size: 47px;
    }

    .eim-circle {
      display: block;
    }
  }

  .cta-influencer-bl__bg {
    position: relative
  }

  .cta-influencer-bl__bg:before {
    position: absolute;
    content: '';
    background: url("../img/cta-circle-lb.png") no-repeat /contain;
    width: 285px;
    height: 267.6px;
    bottom: -60px;
    left: 0;
    @include tablet-lg {
      z-index: -1;
    }

  }

  .cta-influencer-br__bg {
    position: relative;
  }

  .cta-influencer-br__bg:after {
    position: absolute;
    content: '';
    background: url("../img/cta-circle-rb.png") no-repeat /contain;
    bottom: 40px;
    right: 0;
    width: 111px;
    height: 240px;
  }

}
.lottiep{
  width: 100%;
  height: 100%;
  @include tablet-lg{
    width: 100%;
    height: 500px;
  }
}